body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.artikel{
    grid-area: artikel;
}
footer{
    grid-area: footer;
}
.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "artikel"
    "footer";
}
nav{
    display: flex;
    flex-direction: row;
}